* {
   outline: 1px solid blue !important;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
* {
	font-family: Helvetica;
}
body {
  background-image: url(img/waechter.jpg);
}
h1 {
	color: white;
	background-color: #33bebe;
}
.app {
  display: -webkit-flex;
  display: flex;
}
.screenshot {
	max-width: 460px;
	margin: 6px;
}
.description {
	max-width: 705px;
	margin: 6px;
}
.stanza {
  padding: 6px;
  background-color: #FFE0E0;
}
ul {
  background-color: #F0F0F0;
}
dl {
  background-color: white;
}
h2 {
  background-color: #FFE0E0;
}
